#Main_ {
	
}
#Map_ {
	background: #FFF;
	width: 866px;
	height: 500px;
	margin: 10 10 10 15;
	float: left;
}

#user_ {
	background: #EEE;
	width: 433px;
	height: 500px;
	margin: 10 15 10 10;
	float: left;
}

#where_, #foodOption, #result_ {
	margin: 10px;
}